[Unit]
Description=Kubernetes containerd CRI shim
Requires=network-online.target
After=containerd.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/cri-containerd --logtostderr

[Install]
WantedBy=multi-user.target
