name: "Mirror Test Image"
on:
  workflow_dispatch:
    inputs:
      upstream:
        description: "Upstream image to mirror"
        required: true
        default: "docker.io/library/busybox:1.32"
      image:
        description: "Target image name (override)"

permissions: # added using https://github.com/step-security/secure-workflows
  contents: read

jobs:
  mirror:
    name: "Mirror Image"
    runs-on: ubuntu-latest
    timeout-minutes: 30

    permissions:
      packages: write

    defaults:
      run:
        working-directory: src/github.com/containerd/containerd

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          path: src/github.com/containerd/containerd

      - uses: ./src/github.com/containerd/containerd/.github/actions/install-go

      - name: Set env
        shell: bash
        env:
          GITHUB_WORKSPACE: ${{ github.workspace }}
        env:
          GITHUB_EVENT_INPUTS_UPSTREAM: ${{ GITHUB.EVENT.INPUTS.UPSTREAM }}
          GITHUB_EVENT_INPUTS_IMAGE: ${{ GITHUB.EVENT.INPUTS.IMAGE }}
          GITHUB_ACTOR: ${{ GITHUB.ACTOR }}
          SECRETS_GITHUB_TOKEN: ${{ SECRETS.GITHUB_TOKEN }}
run: |
          echo "GOPATH="$GITHUB_WORKSPACE"" >> $GITHUB_ENV
          echo ""$GITHUB_WORKSPACE"/bin" >> $GITHUB_PATH

      - name: Install containerd dependencies
        env:
          GOFLAGS: -modcacherw
        run: |
          sudo apt-get install -y gperf
          sudo -E PATH=$PATH script/setup/install-seccomp

      - name: Install containerd
        env:
          CGO_ENABLED: 1
        run: |
          make binaries GO_BUILD_FLAGS="-mod=vendor" GO_BUILDTAGS="no_btrfs"
          sudo -E PATH=$PATH make install

      - name: Pull and push image
        shell: bash
        env:
          GITHUB_EVENT_INPUTS_UPSTREAM: "$"$GITHUB_EVENT_INPUTS_UPSTREAM""
          GITHUB_EVENT_INPUTS_IMAGE: "$"$GITHUB_EVENT_INPUTS_IMAGE""
          GITHUB_ACTOR: "$"$GITHUB_ACTOR""
          SECRETS_GITHUB_TOKEN: "$"$SECRETS_GITHUB_TOKEN""
        run: |
          sudo containerd -l debug & > /tmp/containerd.out
          containerd_pid=$!
          sleep 5

          upstream="$GITHUB_EVENT_INPUTS_UPSTREAM"
          target="$GITHUB_EVENT_INPUTS_IMAGE"
          if [[ "$target" == "" ]]; then
            mirror="ghcr.io/containerd/${upstream##*/}"
          else
            mirror="ghcr.io/containerd/${target}"
          fi

          echo "Mirroring $upstream to $mirror"

          sudo ctr content fetch --all-platforms ${upstream}
          sudo ctr images ls
          sudo ctr --debug images push -u "$GITHUB_ACTOR":"$SECRETS_GITHUB_TOKEN" ${mirror} ${upstream}

          sudo kill $containerd_pid
